/*div {
    background-color:#F6F7C1;
	margin: 0px;
}

*/

body {
	margin: 0;
	text-align:center;
	font-family: Montserrat, sans-serif;
}

h1 {
	/* If we dont have full length in order to center the text we can use auto margin on left and right
	width:5%;
	margin: 0 auto 0 auto;
	*/
	/*Sizes : 16px = 100% = 1em*/
	margin:50px auto 0 auto;
	font-size:5.62rem;
	color:#66BFBF;
	line-height:2;

}

h2 {
 font-size:2.5rem;
 color:#66BFBF;
 font-weight: normal;
}

h3 {
 color:#11999E;
}

a {
 color:#11999E;
}


.top-cloud {
	position:absolute;
	right:300px;
	top:50px;
}

.bottom-cloud {
	position:absolute;
	bottom:300px;
	left:300px;

}

.top-container{
    background-color: #F6F7C1;
    position:relative;
    padding-top:100px;
}

.skill-row{
 text-align: left;
 width:50%;
 margin: 100px auto;
 line-height:3;
}

.book-image{
	width:25%;
	float: left;
    margin-right: 30px;
}

.jigsaw-image{
	width:25%;
	float: right;
    margin-left: 30px;
}


.middle-container{
}

.bottom-container{
}

